Options +FollowSymLinks
RewriteEngine on

# redirect www to https naked domains 

#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} ^www\. [NC]
#RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
#RewriteRule ^ https://%1%{REQUEST_URI} [L,NE,R=301]

# rewrite to .html 
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]

# Internally rewrite /press_pack to /press_pack.pdf
RewriteRule ^press_pack$ /press_pack.pdf [L]

# Rewrite Concentrate
RewriteRule ^modern-elixir-broadcast-concentrate/?$ https://open.spotify.com/album/5sJmvZSsK93gUpaz3s5KET [R=301,L]
RewriteRule ^mebc/?$ https://open.spotify.com/album/5sJmvZSsK93gUpaz3s5KET [R=301,L]
RewriteRule ^the-glass/?$ https://open.spotify.com/track/0Wo0bFU0otjR9nhCX8AkQs [R=301,L]


