body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0;
}
.album-cover {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 8px;
}
h1 {
    color: #333;
    margin: 15px 0 5px;
}
h2 {
    color: #333;
    margin:0 0 5px;
}
p.description {
    color: #333;
    margin: 10px 0 20px;
}
.music-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 18px;
    color: #333;
    background-color: white; /*#1DB954;*/
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow:0px 0px 25px rgba(0, 0, 0, 0.35);
}
.music-button img {
    margin-right:0;
    height: 24px;
}
.music-button:hover {
    /*background-color: #1AA34A;*/
    background-color:  #d3d3d3;;
    color: #333;
}
.band-website {
    display: block;
    margin-top: 10px;
    padding: 10px 0px;
    font-size: 18px;
    color: #fff;
    background-color: #7F7F7F;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow:0px 0px 25px rgba(0, 0, 0, 0.35);
}
.band-website:hover {
    background-color: #555;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.social-icons a img {
    height: 32px;
}
.social-icons a:hover {
    color: #555;
}


.hyperShadow
{
    box-shadow:0px 0px 25px rgba(0, 0, 0, 0.35);
}

.playTd {
    border-radius: 0px 0px 0px 0px;
    background: #FFFFFF;
    width: 60px;
}

.playTd_multi {
    border-radius: 0px 0px 0px 4px;
    width: 90px;
}

.pointer {
    cursor: pointer;
}

.blue {
    color: #0F78B8;
}

wave
{
    overflow: hidden !important;
    cursor: pointer;
}